@import '~@fullcalendar/resource-timeline/main.css';
@import '~@fullcalendar/timeline/main.css';
@import '~@fullcalendar/scrollgrid/main.css';

.fc.resource-calendar {
	min-height: 500px;
	.fc-scrollgrid-section-header th {
		border-right: None;
	}

	.fc-event {
		&:not(.fc-bg-event) {
			box-shadow: var(--shadow-base);
			transition: 0.3s;
			border-radius: 5px;
			height: 45px;
		}

		.fc-event-title {
			padding: 0px;
		}

		.fc-event-main:first-child {
			line-height: 1em;
		}
	}

	.fc-bg-event {
		opacity: 1;

		.fc-event-title {
			overflow: hidden;
		}
	}

	.fc-timeline-event {
		overflow: hidden;
	}

	.fc-timeline-event-harness {
		margin: 4px;
		min-height: 50px;
	}

	.fc-background-event {
		margin: 4px;
		border-radius: 5px;
		font-weight: 600;
	}

	.fc-stripped-event {
		margin: 2px;
		border-radius: 5px;
		font-weight: 600;
		background-color: #fff;
		border: 1px dashed var(--blue-800);
		.fc-event-main {
			color: var(--blue-800);
		}
	}

	.fc-gray-stripped {
		background: repeating-linear-gradient( 45deg, var(--gray-200), var(--gray-200) 10px, var(--gray-400) 10px, var(--gray-400) 20px );
	}

	.fc-yellow-stripped {
		background: repeating-linear-gradient( 45deg, var(--yellow-200), var(--yellow-200) 10px, var(--yellow-400) 10px, var(--yellow-400) 20px );
		color: #ffff;
	}

	.fc-orange-stripped {
		background: repeating-linear-gradient( 45deg, var(--orange-200), var(--orange-200) 10px, var(--orange-400) 10px, var(--orange-400) 20px );
	}

	.fc-green-stripped {
		background: repeating-linear-gradient( 45deg, var(--green-200), var(--green-200) 10px, var(--green-400) 10px, var(--green-400) 20px );
		color: #ffff;
	}

	.fc-red-stripped {
		background: repeating-linear-gradient( 45deg, var(--red-200), var(--red-200) 10px, var(--red-400) 10px, var(--red-400) 20px );
	}

	.fc-pacific-blue-stripped {
		background: repeating-linear-gradient( 45deg, var(--pacific-blue-200), var(--pacific-blue-200) 10px, var(--pacific-blue-400) 10px, var(--pacific-blue-400) 20px );
		color: #ffff;
	}

	.fc-green-bg {
		background-color: var(--green-300);
	}

	.fc-dark-green-bg {
		background-color: var(--green-600);
	}

	.fc-orange-bg {
		background-color: var(--orange-200);
	}

	.fc-dark-orange-bg {
		background-color: var(--orange-500);
	}

	.fc-pacific-blue-bg {
		background-color: var(--pacific-blue-200);
	}

	.fc-gray-bg {
		background-color: var(--gray-200);
	}

	.fc-blue-bg {
		background-color: var(--blue-400);
	}

	.fc-gray {
		color: var(--gray-400);
	}

	.fc-blue {
		color: var(--blue-400);
	}

	.fc-green {
		color: var(--green-400);
	}

	.fc-red {
		color: var(--red-400);
	}

	.fc-resource-group.fc-cell-shaded > div {
		background-color: var(--bg-color);
		color: var(--text-color);
	}
}

[data-route="resource-planning-view"] {
	.shift-btn,
	.task-btn {
		.btn {
			background-color: var(--blue-400);
			color: var(--fg-color);
			--icon-fill: var(--fg-color);
			--icon-stroke: var(--fg-color);
		}

		.user-action {
			margin: 4px 0;

			.btn-draggable {
				cursor: grab !important;
				background-color: var(--fg-color);
				border-radius: var(--border-radius-md);
				border: 1px dashed var(--gray-500);
			}
		}
	}

	.fc-event-dragging:not(.fc-event) {
		cursor: grabbing !important;
		background-color: var(--fg-color);
		border-radius: var(--border-radius-md);
		border: 1px dashed var(--gray-500);
	}
}
