<h1>Leave Application Notification</h1>
<h3>Details:</h3>

	<table class="table table-bordered small" style="max-width: 500px;">
		<tr>
			<td>Employee</td>
			<td>{{employee_name}}</td>
		</tr>
		<tr>
			<td>Leave Type</td>
			<td>{{leave_type}}</td>
		</tr>
		<tr>
			<td>From Date</td>
			<td>{{from_date}}</td>
		</tr>
		<tr>
			<td>To Date</td>
			<td>{{to_date}}</td>
		</tr>
		<tr>
			<td>Status</td>
			<td>{{status}}</td>
		</tr>
	</table>

	{% set doc_link = frappe.utils.get_url_to_form('Leave Application', name) %}

	<br><br>
	<a class="btn btn-primary" href="{{ doc_link }}" target="_blank">{{ _('Open Now') }}</a>
